apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: kafkatest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: alpaka1111/gf_back_test:1.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: backend-config
          # [start] 5월 7일에 새롭게 추가된 코드
          env:
	          - name: POD_NAME
		          valueFrom:
			          fieldRef:
				          fieldPath: metadata.name
          # [end] 5월 7일에 새롭게 추가된 코드
          volumeMounts:
            - name: shared-storage
              mountPath: /app/uploads
            - name: backend-tls
              mountPath: /app/ssl  # Spring Boot가 참조하는 키스토어 경로
              readOnly: true
      volumes:
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-image-vol
        - name: backend-tls
          secret:
            secretName: backend-tls-secret  # 백엔드용 TLS secret
